.Event img {
  width: 10vw;
}
.single_event_container {
  width: 100%;
  margin-top: 80px;
  padding: 5px;
  display: flex;
  justify-content: space-around;
}
.single_event_description {
  width: 35rem;
  z-index: 10;
  height: max-content;
  margin-top: 30px;
 margin-left: -20px;
  text-align: left;
}

.event_title {
  font-size: 3rem;
  font-family: "montserrat" , sans-serif;
  font-weight: 600;
}
@font-face {
  font-family: gilory;
  src: url("../Assets/Gilroy-SemiBold.ttf");
}
.event_description {
  padding-top: 20px;
  
  /* margin: 10px; */
  font-family: gilory;
  font-size: 15px;
  transition: 0.7s ease;
}
.event_description:hover{
  transform: scale(1.1);
  filter: drop-shadow(0 0 6px rgba(128, 128, 128, 0.545));
}

.design {
  position: absolute;
  width: 55%;
  left: -4rem;
  height: 28rem;
  background-color: #fdc345;
  border-top-right-radius: 300px;
  border-bottom-right-radius: 300px;
}
.MainImage {
  width: 15rem;
}
.images {
  width: 35rem;
  display: flex;
  justify-content: space-between;
  transition: 0.7s ease;
  margin-top: 30px;
}
.images:hover{
  transform: scale(1.06);
}
.poster img {
  width: 35rem;
  height: 25rem;
  border-radius: 20px;
  /* filter: drop-shadow(0 70px 40px -20px rgb(228, 8, 8)); */
  box-shadow: 10px 10px 80px 0px rgba(4, 4, 4, 0.632);
  transition: 0.4s ease transform;
}
.arrow {
  cursor: pointer;
  position: relative;
  top: 50%;
  width: 2.5rem;
  height: 1.5rem;
}
.arrow:hover {
  height: 7%;
  width: 7%;
}
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}
.event{
  height: auto;
  width: 99%;
  
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.event h1{
  text-align: center;
  font-size: 90px;
  color: black;
}
@media only screen and (max-width: 1280px) {
.images{
  width: 30rem;

}
.poster img{
  width: 30rem;
  height: 22rem;
}
.design{
  width: 60%;
  height: 25rem;
}
.event_title{
  font-size: 2.6rem;
}
.event_description{
  font-size: 14px;
}
}


@media only screen and (max-width: 1068px) {
  .EventsPage {
    overflow: hidden;
  }
  .design{
    width: 100%;
  }
  .single_event_container {
    font-size: 1px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    flex-wrap: wrap;
    width: 100%;
  }
  .single_event_description{
    width: 80%;
    text-align: center;
  }
  .poster {
    margin-top: 5rem;
  }
  .poster img {
    width: 17rem;
    height: 20rem;
  }
  .event_title {
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
  }
}
@media only screen and (max-width: 768px) {
  .EventsPage {
    overflow: hidden;
  }
  .design{
    width: 100%;
    
      background-color: white;
    
  
  }
  .single_event_container {
    font-size: 1px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    flex-wrap: wrap;
    width: 100%;
  }
  .single_event_description{
    width: 80%;
    text-align: center;
    height: max-content;
  }
  .event_description{
    height: auto;
  }
  .poster {
    margin-top: 5rem;
  }
  .poster img {
    width: 17rem;
    height: 20rem;
  }
  .event_title {
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
  }
}


