* {
  margin: 0;
  padding: 0;
}
.container {
  background-image: url("/public/images/about.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-size: cover;   
    background-position: center;     
    margin-top: 100px;
    height: 120px;

}
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: montserrat;
  color: rgb(0, 0, 0);
  font-size: 39px;
  padding-top: 50px;
  padding-bottom: 5px;
}

@media (max-width: 1450px) {
  .container {
    height: 850px;
  }
}
@media (max-width: 1080px) {
  .container {
    height: 1170px;
  }
}
@media (max-width: 550px) {
  .container {
    height: 920px;
  }
  .heading{
    font-size: 30px;
  }
}
