
.maincontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: montserrat;
  padding-top: 10px;
  height: 310px;
  border-radius: 10px;
  /* filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%); */
  margin-bottom: -20px;
  object-fit: cover; 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.containerimage {
  width: 100%;
  border-radius: 6px;
  height: 200px;
  object-fit: cover;

}

.blogdate {
  font-size: 10px;
}
.blogheading {
  font-size: 16px;
}
.blogsubheading {
 
  font-size: 12px;
  
  /**Truncate**/
  overflow:hidden;
  line-height: 1rem;
  max-height: 3rem;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
}

.maincontainer:hover{
  cursor: pointer;
  /* filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%); */
  transform: scale(1.02);
  box-shadow: 7px 17px 20px rgba(0, 0, 0, 0.3);
}


@media (max-width:661px) {
  .maincontainer{
    height: 310px;
  }
}