@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Raleway:wght@500;700&display=swap');

.container{
    padding: 40px 0 20px 0;
}

.container .header{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 37px;
    width: fit-content;
    margin: auto;
    text-align: center;
}

.container .subsection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.container .subsection .image{
    height: 200px;
    aspect-ratio: 1/1;
    margin-bottom: 15px;
    
    
}
.container .subsection .image img{
    height: 100%;
    width: 100%;
    transition:0.7s ease;
    object-fit: cover;
    border: 4px solid #fab13b;
    filter: drop-shadow(0px 0px 15px #ffaa22cc );
    border-radius: 50%; 
}
.image img:hover{
    
transform: scale(1.15);
    


}


.container .subsection .links  {
    display: flex;
    gap: 20px ;
    align-items: center;
    justify-content: center;
    margin-top: 17px;
    color: black;
 
   
}
.container .subsection .links a:first-child:hover , a:nth-child(2):hover{
    transition: 1s ease;
    transform: scale(1.4);
    /* transform: translateY(-4px); */
    filter: drop-shadow(0 0 7px rgba(5, 5, 5, 0.501));
}

.container .subsection .name{
    font-family: 'Montserrat', sans-serif;
    color: #323232;
    font-weight: 700;
    font-style: normal;
    font-size:26px;
    letter-spacing: 0.5px;
}

.container .subsection .desc{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 1px;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
}

@media only screen and (max-width: 500px) {
    .container .header{
        font-size: 30px;
    }
    .container .subsection .name{
        font-size: 20px;
    }
}