.headingdiv
{
    margin: auto;
}


.heading
{

color: #323232;

display: flex;
justify-content: center;
align-items: center;
margin-top: 80px;
font-size: 39px;
margin-bottom: 25px;
filter: drop-shadow(0 0 8px rgba(94, 94, 94, 0.674));
font-family: "Montserrat" , sans-serif;
}