
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
*{
  transition: all 0.3s ease-in-out 0.01s;

}


/* Scrollbar */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: black;
}

*::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
}